
.custom-upload .ant-upload-list-item-name {
  color: "#01B075" !important;
}
.ant-drawer-close {
    position: absolute;
    top: 20px;
    right: 0;
}
.drawer-title {
  margin: 0;
  font-size: 16px;
}

.drawer-footer {
  margin-top: 24px;
}
.custom-link-button {
  text-decoration: underline;
}

.custom-link-button:hover {
  text-decoration: underline;
  
}

